.exp-flex-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.exp-flex-list.type-level {
    margin: 10px;
}

.flex-list-item {
  font-size: 36px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #4BA7A7;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-list-item.type-level {
  margin: 0px;
}

.flex-list-item :last-child {
  margin-bottom: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.flex-list-item.header {
  height: 100px;
  font-size: 36px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  background-color: #066C6C;
}

.flex-header-item {
  padding-left: 15px;
}


/*next layer*/
.flex-list-item.org-level {
  background-color: #FFB272;
}

.flex-list-item.org-level.header {
  background-color: #B4570A;
}

.flex-list-item.org-level :last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.flex-list-item.role-level {
  background-color: #5FD35F;
}

.flex-list-item.role-level.header {
  background-color: #089008;
}
