.modal-container {
  width: 400px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border: 5px solid black;
}

.modal-header-container {
  height: 40px;
  background-color: #111;
  margin-top: 0;
}

.modal-title {
  float: left;
  color: white;
}

.modal-close-btn {
  float: right;
}
