* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  display: flex;
  justify-content: center;
}

.nav-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 16px 16px;
  text-decoration: none;
  color: #111;
}

.nav-link:hover {
  background-color: #111;
  color: #666;
}

/*#nav-link-login {

}

#nav-link-logo {

}*/
