.project-creator-container {
  width: 30%;
  float: left;
}

.section-header {
  width: 100%;
  height: 50px;
  background-color: #987654;
  font-size: 24px;
  color: white;
}

.creator-field {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
